.container {
  margin: 100px 0;
  background-color: #26323B;
  width: 100%;
  height: auto;
}

.text {
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 50px;
  text-align: center;
}

.quotes {
  margin-bottom: 30px;
  color: #7EF9C1; 
  scale: 1.8;
}

.source {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  padding-right: 20px;
  opacity: 80%;
}

/*Mobile Screen*/
@media screen and (max-width: 576px) {
  .text {
    font-size: 20px;
  }
}