.servicesContainer {
  margin-top: 50px;
  margin-bottom: 150px;
}

h1 {
  color: #2b6f7e;
  font-size: 60px;
  font-weight: 800;
}

.cardContainer {
  display: flex !important;
  justify-content: center !important;
}

/*-----------Circles-----------*/
.circleContainer {

}

.circleContainer img {
  scale: 0.6;
  padding: 0 5px;
}

.arrow {

}