/*Slide adjustments*/

.slick-slide {
  transform: scale(0.8);
  filter: opacity(80%);
  transition: transform 0.75s, filter 0.75s;
}

.slick-slide div {
  max-width: 100%;
  transition: all 0.4s ease-in-out;
}

.slick-center {
  transform: scale(1);
  filter: opacity(100%);
}

/*Dot Adjustments*/

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.slick-dots li {
  width: 40px !important; /* Set the width to match the image size */
  height: 40px !important; /* Set the height to match the image size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li div img {
  max-width: 100%; /* Ensure images resize appropriately */
  height: auto; /* Maintain aspect ratio */
  display: block;
  scale: 0.75;
}

.custom-dots li {
  width: 40px !important;
  height: 40px !important;
  margin: 0 10px !important;
}

.custom-dots li.slick-active div {
  display: flex;
  justify-content: center;
  align-items: top;
}

.custom-dots li.slick-active div img {
  content: url('../../Images/HollowCircle.svg');
  scale: 1.1;
}