.heroContainer {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.backgroundContainer {
  position: relative;
  margin-top: -1px;
  width: 100%;
  height: 90vh;
  background-image: url(../../Images/WaterImage.jpg);
  background-size: cover;
  background-position: bottom;
}

.h1 {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 0px;
}

.p {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.accentedText {
  background: linear-gradient(94.61deg, #a1fed4 -6.23%, #5CEAA9 102.68%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline; /* Ensures the span does not break the line */
}

.contactButton {
  width: 350px;
  height: 70px;

  background: #5CEAA9;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  border: none;

  font-weight: 800;
  font-size: 35px;

  color: #26323B;
}

.contactButton:hover {
  filter: brightness(115%);
}


/*Mobile Screen*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .h1 {
    font-size: 70px;
  }
  
  .p {
    font-size: 24px;
  }

  .contactButton{
    height: 60px;
    border-radius: 16px;
    font-size: 30px;
  }
}

/*Tablet Screen*/
@media screen and (max-width: 576px) {
  .h1 {
    font-size: 60px;
  }

  .p {
    font-size: 18px;
  }

  .contactButton {
    height: 50px;
    width: 220px;
    border-radius: 16px;
    font-size: 22px;
  }
}