ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

li a {
  text-decoration: none;
  color: white;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.25s;
}

li a:hover {
  color: #5CEAA9;
  cursor: pointer;
}


.background {
  width: 100%;
  height: 60px;
  z-index: 1;

  background: #26323B;
}

.navLogo {
  height: 45px;
}

.active {
  color: #5CEAA9;
}

.servicesContainer {
  width: 91.37px;
  height: 19.2px;
  bottom: 0px;
}

.services_arrow {
  height: 20px;
  width: 20px;
}

.dropdown {
  margin-left: 157px;
}

.mobileIcon {
  color: white;
  scale: 2.5;
}

.mobileIcon:hover {
  cursor: pointer;
  color: #5CEAA9;
}

.contactButton {
  width: 140px;
  height: 40px;
  z-index: 2;

  background: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.97);
  border-radius: 12px;
  border: solid 3px #5CEAA9;

  /*Text*/
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;

  color: #5CEAA9;

  transition: color 0.3s, background 0.3s;
}

.contactButton:hover {
  background: #5CEAA9;
  color: #26323B;
}

.mobileButton {
  background: none;
  width: 80px;
  height: 35px;
  border: solid 3px #5CEAA9;
  border-radius: 10px;
}

.mobileButton:hover {
  background: #5CEAA9;
  color: #26323B;

  .hiMail {
    color: #26323B;
  }
}

.hiMail {
  color: #5CEAA9;
  scale: 1.5;
}

/*Tablet Screen*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .mobileButton {
    width: 65px;
  }
}

/*Mobile Screens*/
@media screen and (min-width: 377px) and (max-width: 576px) {
  .mobileButton {
    width: 50px;
  }
}

@media screen and (max-width: 376px) {
  .mobileButton {
    width: 40px;
  }
}