.background {
  width: 100%;
  background-color: #26323B;
}

.background a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.25s, background-color 0.25s;
  border-top: solid #1e282f 3px;
}

.background a:hover {
  color: #5CEAA9;
  background-color: #2c3944;
}

.servicesBackground {
  background-color: #1e282f;
}

.servicesBackground a {
  border-top: solid #26323B 2px;
  font-weight: 400;
  font-size: 14px;
  transition: background-color 0.25s;
}

.servicesBackground a:hover {
  background-color: #202a32;
}