/*-----------Cards-----------*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
  background-image: url(../../Images/CardBackground.svg);
  background-size: cover;
  height: 500px;
  width: 400px;
}

.icon {
  width: 280px;
  height: 280px;
}

.textContainer {
  padding: 0 25px;
  text-align: center;
}

.titleText {
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}

.descriptionText {
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

/* .learnMoreButton { 
  position: absolute;
  width: 153px;
  height: 46px;
  bottom: 40px;
  left: 30px;

  background: #5CEAA9;
  border-radius: 14px;
  border: none;

  font-weight: 700;
  font-size: 20px;
  color: #295461;
  transition: filter 0.25s;
}

.learnMoreButton:hover {
  filter: brightness(115%);
} */

/*Tablet Screen*/

@media screen and (min-width: 577px) and (max-width: 768px) {
  .card {
    height: 400px;
    width: 320px;
  }
}

/*Mobile Screens*/
@media screen and (min-width: 377px) and (max-width: 576px) {
  
}

@media screen and (max-width: 376px) {
  .card {
    height: 100px;
    width: 50px;
  }
}