.dropdownContainer {
  position: absolute;
  background-color: #26323B;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.services {
  font-weight: 600;
  color: rgb(167, 167, 167) !important;
}

.textContainer {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.dropdownContainer a {
  text-decoration: none;
  color: white;
  transition: color 0.25s;
  line-height: 28px;
  font-weight: 500;
}

.dropdownContainer a:hover {
  color: #5CEAA9 !important;
  cursor: pointer;
}

p {
  margin-bottom: 0px;
}